.message {
    width: 100%;
    padding: 20px;
    border: 1px solid #000;
    margin: 0 auto;
}

.success {
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
    padding: 10px;    
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.error {
    color: #721C24;
    background-color: #F8D7BA;
    border-color: #F5C6CB;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

@media(max-width: 300px) {
    .success {
        font-size: 14px;
    }

    .error {
        font-size: 14px;
    }
}